@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}

.container {
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, p {
    font-family: 'Roboto', sans-serif !important;
}

.typeCard:hover {
    cursor: pointer;
}