<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration &bull; CLup</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
</head>
<body>

<div class="bodyContent">
    <div class="ui menu">
        <div class="header item">
            CLup
        </div>
        <a class="item active" onclick="window.location.href = '/admin/dashboard'">
            Home
        </a>
        <a class="item" onclick="window.location.href = '/admin/upcomingBookings'">
            Upcoming bookings
        </a>
        <a class="item" onclick="window.location.href = '/admin/attendants'">
            Attendants
        </a>
        <div class="right menu">
            <a class="item">Bentornato,
                <script>document.write(localStorage.getItem('username'))</script>
                </span></a>
            <a class="item" onclick="window.location.href = '/logout.html'">Logout</a>
        </div>
    </div>
    <h1 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Admin Dashboard
    </h1>
    <div class="ui text container">
        <p>Here you can manage your store, see and manage your upcoming bookings and manage your attendants.</p>
    </div>
    <div class="ui cards" style="width: fit-content; width: -moz-fit-content; margin: auto;">
        <div class="card" style="width: fit-content; width: -moz-fit-content; padding: 5px">
            <div class="content">
                <h2 class="ui icon header">
                    <i class="home icon"></i>
                    My Store
                </h2>
                <div id="storeContainerElement" class="ui list" style="font-size: 16px">
                    <div v-if="data != ''">
                        <div class="item">
                            <i class="id card icon"></i>
                            <div class="content">{{ data.id }}</div>
                        </div>
                        <div class="item">
                            <i class="building icon"></i>
                            <div class="content">{{ data.name }}</div>
                        </div>
                        <div class="item">
                            <i class="briefcase icon"></i>
                            <div class="content" v-if="data.chain != null">{{ data.chain }}</div>
                            <div class="content" v-else><i>No chain</i></div>
                        </div>
                        <div class="item">
                            <i class="map marker alternate icon"></i>
                            <div class="content">{{ data.address }}</div>
                        </div>
                        <div class="item">
                            <i class="building outline icon"></i>
                            <div class="content">{{ data.city }}</div>
                        </div>
                        <div class="item">
                            <i class="envelope icon"></i>
                            <div class="content">{{ data.cap }}</div>
                        </div>
                        <br>
                        <button class="ui compact primary button" v-on:click="buildMap(data.longitude, data.latitude)"
                                id="actionButton">Show Map
                        </button>
                        <button class="ui compact primary button" onclick="window.location.href = '/admin/editStore'">
                            Edit Store
                        </button>
                    </div>
                    <div v-else>
                        <h3><i>No store found</i></h3>
                        <button class="ui large compact primary button" onclick="window.location.href = '/admin/newStore'">Create</button>
                    </div>
                </div>
                <div id="mapContainer"></div>
            </div>
        </div>
        <div class="card" style="width: fit-content; width: -moz-fit-content">
            <div class="content">
                <h2 class="ui icon header">
                    <i class="history icon"></i>
                    Upcoming Bookings
                </h2>
                <div id="ticketsContainer">
                    <h3 v-if="data == ''" style="text-align: center">
                        <i>No upcoming tickets</i>
                    </h3>
                    <table v-else class="ui basic table">
                        <thead>
                        <th scope="col">Customer</th>
                        <th scope="col">Date and Time</th>
                        </thead>
                        <tbody>
                        <tr v-for="ticket in data" :key="ticket.id">
                            <td>{{ ticket.user.username }}</td>
                            <td>{{ substring(ticket.booking.visitDate) }} {{ ticket.booking.slot.startingHour }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="ui large compact primary button">Details</button>
                </div>
            </div>
        </div>
        <div class="card" style="width: fit-content; width: -moz-fit-content">
            <div class="content">
                <h2 class="ui icon header">
                    <i class="users icon"></i>
                    Attendants
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment" style="flex-shrink: 0;">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">About Us</h4>
                <p>We are a small team of the "Politecnico di Milano"</p>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/static/js/admin/home.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="/static/js/admin/map.js"></script>
<script src="/static/semantic/semantic.min.js"></script>
</body>
</html>